#status{
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 15px;
}

.good, .bad{
  padding: 0.4rem;
  border-radius: 5px;
  color: white;
}

.good{
  background: green
}

.bad{
  background: red
}
.heading-login {
  font-size: 72px;
  color: #000;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  margin-top: 70px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.subheading-login {
  font-size: 48px;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
  font-style: normal;
}
.subheading-login.welcome {
  margin-bottom: 40px;
}
.img-logo-sugity {
  margin: 0 auto;
  width: 14%;
}
.subsub-login {
  font-size: 36px;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  font-style: normal;
}
.image-rfid {
  width: 15%;
  margin: 10px auto 20px auto;
}
.image-dcs {
  width: 14%;
  position: absolute;
  margin: 20px 0;
  transform: translate(10px, 65px);
}
.paragraph-login {
  font-size: 30px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  font-style: normal;
  margin: 30px 0;
}
