.bg-darkenblue {
  background-color: #071d4a;
}
.wrapper-left-MTIC {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}
.wrapper-MTIC {
  display: flex;
  flex-direction: column;
  flex-basis: 77%;
  width: 1550px;
}
.table-MTIC {
  margin-bottom: 5px;
  height: 105px;
  background-color: #fff;
  overflow: hidden;
}
.table-head-MTIC {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  text-align: center;
}
.table-body-MTIC {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  overflow-y: auto;
}
.table-MTIC .table td {
  padding: 0.1rem !important;
  margin: auto;
  vertical-align: middle !important;
}
.table-MTIC .table th {
  font-weight: 500 !important;
}
.title-text-MTIC {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbc531;
  text-transform: uppercase;
  width: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
  height: 48px;
}
.title-text-tank-MTIC {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbc531;
  text-transform: uppercase;
  width: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 1px;
  height: 27px;
}
.text-left-MTIC {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  height: 48px;
}
.text-left-MTIC.time-MTIC {
  height: 42px;
}
.text-left-MTIC.mesin-MTIC {
  font-size: 20px;
}
.btn-pagination-MTIC {
  width: 126px;
  height: 45px;
  color: #000;
  background-color: #45aaf2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  margin-left: 5px;
}
.wrapper-outer-tank-MITC {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* height: 560px; */
}
.wrapper-outer-tank-MITC .flex-23 {
  width: 33%;
  margin-bottom: 1px;
}
.wrapper-outer-tank-MITC .flex-23:nth-child(2),
.wrapper-outer-tank-MITC .flex-23:nth-child(5),
.wrapper-outer-tank-MITC .flex-23:nth-child(8),
.wrapper-outer-tank-MITC .flex-23:nth-child(11) {
  margin: 0 5px;
}
.button-bottom-MTIC {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 195px;
  height: 105px;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
}
.button-bottom-MTIC:focus {
  outline: none;
}
.arrow-prev-MTIC {
  transform: rotate(180deg);
}
.arrow-prev-MTIC.pagination {
  margin-right: 20px;
}
.btn-del-material {
  background-color: #ea2027 ;
}
.scan-id-input-confirm {
  background-color: #fbc531;
  width: 409px;
  height: 48px;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-transform: capitalize;
}
.btn-text-left-MTIC-rfid {
  background-color: #45aaf2;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  height: 75px;
  border: none;
}
.btn-text-left-MTIC-rfid:focus {
  outline: none;
}