.bg-darkenblue {
  background-color: #071d4a;
}
.left-wrapper-MTI {
  display: flex;
  flex-direction: column;
  flex: 18%;
}
.center-wrapper-MTI {
  display: flex;
  flex-direction: column;
  flex: 10%;
  margin-left: 15px;
}
.right-wrapper-MTI {
  display: flex;
  flex-direction: column;
  flex: 1 0 60%;
  margin-left: 15px;
}
.error-on-slider {
  width: 100%;
  max-height: 130px;
  color: red;
  font-weight: bold;
  font-size: 26px;
  display: flex !important;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.wrapper-carousel-MTI {
  width: 89%;
  margin: 10px auto !important;
}
.toggle-prev-MTI {
  position: absolute;
  top: 30%;
  left: -20px;
  width: 20px !important;
  transform: translateX(20px);
}
.arrow-prev-MTI {
  transform: rotate(180deg);
}
.arrow-prev-MTI.pagination {
  margin-right: 20px;
}
.toggle-next-MTI {
  position: absolute;
  top: 30%;
  right: 20px;
  width: 20px !important;
  transform: translateX(-20px);
}
.slides-MTI {
  height: 115px;
  padding: 15px 15px;
  flex: 0 0 13.6%;
  width: 70px;
  background-color: #45aaf2;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.slides-MTI:focus {
  outline: none;
  padding: 15px 15px;
}
.slides-MTI.active {
  border: 10px solid #ea2027;
  background-color: #a5b1c2;
  padding: 7.5px 7.5px;
}
.title-text-MTI {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbc531;
  text-transform: uppercase;
  width: 100%;
  color: #000;
  height: 48px;
}
.text-input-MTI {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  text-transform: uppercase;
}
.text-input-MTI.name-MTI {
  height: 90px;
}
.text-input-MTI.amount-MTI {
  height: 85px;
}
.text-right-MTI {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  height: 48px;
}
.text-right-MTI.time-MTI {
  height: 42px;
}

.wrapper-btn-pm-MTI {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
.wrapper-option-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px auto;
}
.btn-pm-MTI {
  width: 70px;
  height: 70px;
  margin: 0 7px;
  cursor: pointer;
}
.btn-option-MTI {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  width: 55px;
  height: 55px;
  background-color: rgb(50, 209, 64);
  border-radius: 10px;
  color: #000;
  margin: 0 7px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.btn-option-MTI.active {
  border: 5px solid #ea2027;
  background-color: #a5b1c2;
}
.btn-option-MTI:focus {
  outline: none;
}
.btn-input-MTI,
.btn-tangki-MTI {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 51px;
  color: #000;
  background-color: #45aaf2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
}
.btn-tangki-MTI.btn-tangki {
  margin-top: 15px;
  margin-bottom: 2px;
}
.btn-tangki.active {
  border: 5px solid #ea2027;
  background-color: #c4c4c4;
}
.btn-input-MTI,
.btn-tangki-MTI:focus {
  outline: none;
}
.btn-pagination-MTI {
  width: 126px;
  height: 45px;
  color: #000;
  background-color: #45aaf2;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  margin-left: 5px;
}

.button-bottom-MTI {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  width: 195px;
  height: 105px;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
}
.button-bottom-MTI:focus {
  outline: none;
}
.table-MTI {
  margin-bottom: 10px;
  height: 350px;
  background-color: #fff;
  overflow: hidden;
}
.table-head-MTI {
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  text-align: center;
}
.table-body-MTI {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.table-MTI .table td {
  padding: 0.5rem !important;
  margin: auto;
  vertical-align: middle !important;
}
.btn-table-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45aaf2;
  width: 126px;
  padding: 2px 5px;
  text-transform: uppercase;
  border: 0;
  height: 42px;
  margin: 0 auto;
  border-radius: 5px;
}
.btn-table-action:focus {
  outline: none;
}
